In [1]:
a = 12,13,50 # tuple packing 
print(a)
print(type(a))

(12, 13, 50)
<class 'tuple'>

In [2]:
b= (13)
print(b)
print(type(b))

13
<class 'int'>

In [3]:
x1,x2,x3 =a #a has 3 element 
print(x1,x2,x3)

12 13 50

In [4]:
a=(1,2,4,5,6,7,8,9,10)
a1,a2, *a3 =a #a3 will get the remaning element as a list 
print(a1,a2,a3)

1 2 [4, 5, 6, 7, 8, 9, 10]

In [5]:
a[4:]

(6, 7, 8, 9, 10)

In [6]:
a[:4]

(1, 2, 4, 5)

In [8]:
for i in a:
    print(i)

1
2
4
5
6
7
8
9
10

In [13]:
x= (1,2,3,1,2,3,1,2,3,1,2,3,1,2,3)
print(x.count(1))
print(x.count(2))# 2 is the value to  search 
print(x.count(5))
print(x.index(3,5)) # 1 is the value to search and 5 is the starting index

5
5
0
5

In [14]:
a= [1,2,3]
at= tuple (a)
al= list(at)
print(at)
print(al)

(1, 2, 3)
[1, 2, 3]

In [15]:
s={1,2,3,1,2,3,1,2,3}
print(s)
print(type(s))

{1, 2, 3}
<class 'set'>

In [16]:
s1= set()#empty set
print(s1)
print(type(s1))

set()
<class 'set'>

In [18]:
s1.add(3)
s1.add(4)
s1.add('hello')
s1.add('bruce')
s1.add(3)
print(s1)

{'hello', 'bruce', 3, 4}

In [19]:
s1.discard(3)# remove 3 from the set
print(s1)

{'hello', 'bruce', 4}

In [22]:
for i in s1:
    print (i)

hello
bruce
4

In [21]:
name= list('akrama javed')
print(name)

['a', 'k', 'r', 'a', 'm', 'a', ' ', 'j', 'a', 'v', 'e', 'd']

In [23]:
#set  operations 
group1= {'apple','bannana','grapes','watermelon','mango','cherry'}
group2 ={'apple','cherry','watermelon','kiwi','papaya'}

In [26]:
#union 
print(group1|group2)
print(group1.union(group2))

{'mango', 'apple', 'cherry', 'kiwi', 'papaya', 'watermelon', 'grapes', 'bannana'}
{'mango', 'apple', 'cherry', 'kiwi', 'papaya', 'watermelon', 'grapes', 'bannana'}

In [27]:
#intersection 
print(group1 & group2)
print(group1. intersection(group2))

{'apple', 'watermelon', 'cherry'}
{'apple', 'watermelon', 'cherry'}

In [29]:
#difference
print(group1-group2)#element in g1 but not in g2
print(group2-group1)#element i  g2 but not in g1
print (group2.difference(group1))

{'mango', 'bannana', 'grapes'}
{'kiwi', 'papaya'}
{'kiwi', 'papaya'}

In [30]:
# symmetric diffrence 
print(group1 ^ group2)# element in g1 and g2 but not in both
print(group1.symmetric_difference(group2))

{'papaya', 'mango', 'grapes', 'bannana', 'kiwi'}
{'papaya', 'mango', 'grapes', 'bannana', 'kiwi'}

In [43]:
reports =[
['ICHIGO',[
    ['MATHS',78],
    ['SCIENCE',79],
    ['ENGLISH',80],
]],
['AIZEN',[
    ['MATHS',78],
    ['SCIENCE',79],
    ['ENGLISH',80],
]],
['YAMATO',[
    ['MATHS',78],
    ['SCIENCE',79],
    ['ENGLISH',80],
]],
['KAMPACHI',[
    ['MATHS',78],
    ['SCIENCE',79],
    ['ENGLISH',90],
]],
['HOLLOW',[
    ['MATHS',98],
    ['SCIENCE',99],
    ['ENGLISH',90],
]],
['ASTA',[
    ['MATHS',70],
    ['SCIENCE',71],
    ['ENGLISH',81],
]],
['YAMI',[
    ['MATHS',89],
    ['SCIENCE',99],
    ['ENGLISH',80],
]],
]

In [45]:
for student in reports:
       print(student)

['ICHIGO', [['MATHS', 78], ['SCIENCE', 79], ['ENGLISH', 80]]]
['AIZEN', [['MATHS', 78], ['SCIENCE', 79], ['ENGLISH', 80]]]
['YAMATO', [['MATHS', 78], ['SCIENCE', 79], ['ENGLISH', 80]]]
['KAMPACHI', [['MATHS', 78], ['SCIENCE', 79], ['ENGLISH', 90]]]
['HOLLOW', [['MATHS', 98], ['SCIENCE', 99], ['ENGLISH', 90]]]
['ASTA', [['MATHS', 70], ['SCIENCE', 71], ['ENGLISH', 81]]]
['YAMI', [['MATHS', 89], ['SCIENCE', 99], ['ENGLISH', 80]]]

In [46]:
print(reports)

[['ICHIGO', [['MATHS', 78], ['SCIENCE', 79], ['ENGLISH', 80]]], ['AIZEN', [['MATHS', 78], ['SCIENCE', 79], ['ENGLISH', 80]]], ['YAMATO', [['MATHS', 78], ['SCIENCE', 79], ['ENGLISH', 80]]], ['KAMPACHI', [['MATHS', 78], ['SCIENCE', 79], ['ENGLISH', 90]]], ['HOLLOW', [['MATHS', 98], ['SCIENCE', 99], ['ENGLISH', 90]]], ['ASTA', [['MATHS', 70], ['SCIENCE', 71], ['ENGLISH', 81]]], ['YAMI', [['MATHS', 89], ['SCIENCE', 99], ['ENGLISH', 80]]]]